<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
  </head>
  <body>
    <h2>Your test have been successfully submitted</h2>
    <a href="/profile">SCORE</a>
  </body>
</html>
