<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .container {
        border: 2px solid gray;
        background-image: radial-gradient(white smoke, steelblue);
        width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>
        A verification message has been sent to your email! Please verifiy
        befffore accessing anything on the website
      </h2>
      <button><a href="/index">HOME</a></button>
    </div>
  </body>
</html>
